{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.4.1/dist/css/tom-select.css" rel="stylesheet">
{% endblock %}

<div class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow-lg m-5">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">
        {% if app.request.attributes.get('_route') == 'app_topic_new' %}
            Création d'un nouveau topic
        {% else %}
            Édition d'un topic
        {% endif %}
    </h2>

    {{ form_start(form) }}
    <div class="space-y-4">
        <div class="flex flex-col">
            {{ form_label(form.title, 'Title', {'label_attr': {'class': 'text-sm font-medium text-gray-700'}}) }}
            <div class="mt-1">
                {{ form_widget(form.title, {'attr': {'class': 'block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500'}}) }}
            </div>
        </div>

        <div class="flex flex-col">
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'text-sm font-medium text-gray-700'}}) }}
            <div class="mt-1">
                {{ form_widget(form.description, {'attr': {'class': 'block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500'}}) }}
            </div>
        </div>

        <div class="flex flex-col">
            {{ form_label(form.categories, 'Categories', {'label_attr': {'class': 'text-sm font-medium text-gray-700'}}) }}
            <div class="mt-1">
                {{ form_widget(form.categories, {'attr': {'id': 'topic_categories', 'class': 'block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500'}}) }}
            </div>
        </div>

        <div class="flex flex-col">
            {{ form_label(form.langue, 'Language', {'label_attr': {'class': 'text-sm font-medium text-gray-700'}}) }}
            <div class="mt-1">
                {{ form_widget(form.langue, {'attr': {'id': 'topic_langue', 'class': 'block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500'}}) }}
            </div>
        </div>

        <div class="flex justify-between items-center mt-8">
            <a href="{{ path('app_topic_index') }}"
               class="px-6 py-3 bg-gray-500 text-white rounded-lg hover:bg-gray-400 transition duration-300">
                Retour à la liste
            </a>

            <button type="submit"
                    class="px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-500 transition duration-300">
                Sauvegarder
            </button>

        </div>

    </div>
    {{ form_end(form) }}
</div>

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.1/dist/js/tom-select.complete.min.js"></script>
    <script async>
        // Initialisation de TomSelect pour les champs avec les IDs 'topic_categories' et 'topic_langue'
        new TomSelect("#topic_categories", {
            maxItems: 3
        });

        new TomSelect("#topic_langue", {});
    </script>
{% endblock %}
